*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.bi-twitter{
    
    background-color: rgb(35, 120, 216);
    font-size: 40px;
    
}

.bi-instagram{
    background-color: rgb(197, 117, 41);
    font-size: 40px;
}

.bi-facebook{
    background-color: rgb(54, 80, 196);
    font-size: 40px;
}

.bi-playstation{
    background-color: rgb(119, 141, 216);
    font-size: 40px;
    
}

.bi-xbox{
    background-color: rgb(32, 172, 85);
    font-size: 40px;
}

.bi-nintendo-switch{
    background-color: rgb(224, 52, 52);
    font-size: 40px;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

img{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 150px;
    background-color: rgb(138, 117, 117);
    font-family: monospace;
    color: black;
    
}

.logo{
    width: 90px;
    height: 75px;
}

nav{
    background-color: black;

}

ul{
    display: flex;
    list-style-type: none;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: antiquewhite;
    
}




.main_home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    background-color: rgb(138, 117, 117);


}

.grilla_home{
    display: flex;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "area1"
                         "area2"
                         "area3";
    align-content:center;
    justify-content:center 
                                    

    
}

.card{
    background-color: rgb(161, 161, 199);
    
}

.row{
    display: flex;
    width: 500px;
    row-gap: 0.5rem;
    
    
}









.grilla_peliculas{
    display: flex;
    align-content: space-around;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30% ;
    grid-template-areas: "foto1 foto2 foto3"
                         "foto4 foto5 foto6"
                         "foto7 foto8 foto9";
    justify-content: space-evenly;
    align-content: space-around;
    gap: 1.5rem 1.5rem;

}

.img_peli1{
    
    grid-area: foto1;
}

.img_peli2{
    grid-area: foto2;
}

.img_peli3{
    grid-area: foto3;
}

.img_peli4{
    grid-area: foto4;
}

.img_peli5{
    grid-area: foto5;
}

.img_peli6{
    grid-area: foto6;
}

.img_peli7{
    grid-area: foto7;
}

.img_peli8{
    grid-area: foto8;
}

.img_peli9{
    grid-area: foto9;
}

.main_peliculas{
    display: inline-block;
    
}

.grilla_juegos{
    display: flex;
    align-content: space-around;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas: "foto1 foto2 foto3"
                         "foto4 foto5 foto6"
                         "foto7 foto8 foto9"
                         "foto10 foto11 foto12";
    justify-content: space-evenly;
    align-content: space-around;

}

.img_juegos1{
    grid-area: foto1;

}

.img_juegos2{
    grid-area: foto2;

}

.img_juegos3{
    grid-area: foto3;

}

.img_juegos4{
    grid-area: foto4;

}

.img_juegos5{
    grid-area: foto5;

}

.img_juegos6{
    grid-area: foto6;

}
.img_juegos7{
    grid-area: foto7;

}
.img_juegos8{
    grid-area: foto8;

}

.img_juegos9{
    grid-area: foto9;

}

.img_juegos10{
    grid-area: foto10;

}

.img_juegos11{
    grid-area: foto11;

}

.img_juegos12{
    grid-area: foto12;

}

.grilla_galeria{
    display: flex;
    align-content: space-around;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 25% 25% 25% ;
    grid-template-areas: "foto1 foto2 foto3"
                         "foto4 foto5 foto6"
                         "foto7 foto8 foto9";
    justify-content: space-evenly;
    align-content: space-around;

}

.img_galeria1{
    grid-area: foto1;
    transition: all 2s;
}

.img_galeria1:hover{
    transform: scale(1.1 , 1.1);
}

.img_galeria2{
    grid-area: foto2;
    transition: all 2s;
}
.img_galeria2:hover{
    transform: scale(1.1 , 1.1);
}

.img_galeria3{
    grid-area: foto3;
    transition: all 2s;
}
.img_galeria3:hover{
    transform: scale(1.1 , 1.1);
}


.img_galeria4{
    grid-area: foto4;
    transition: all 2s;
}
.img_galeria4:hover{
    transform: rotate(45deg);
}

.img_galeria5{
    grid-area: foto5;
    transition: all 2s;
}
.img_galeria5:hover{
    transform: rotate(45deg);
}


.img_galeria6{
    grid-area: foto6;
    transition: all 2s;
}
.img_galeria6:hover{
    transform: rotate(45deg);
}


.img_galeria7{
    grid-area: foto7;
    transition: all 2s;
}
.img_galeria7:hover{
    transform: rotatey(140deg);
}


.img_galeria8{
    grid-area: foto8;
    transition: all 2s;
}
.img_galeria8:hover{
    transform: rotatey(140deg);
}

.img_galeria9{
    grid-area: foto9;
    transition: all 2s;
    
}
.img_galeria9:hover{
    transform: rotatey(140deg);
}

.contacto{
    display: flex;
    flex-flow: wrap;
    gap: 5rem 5rem;
    justify-content: space-evenly;
    align-items: center;
    
}

input{
    transition: all 3s;
}

input:focus{
    width: 500px;
    background-color: rgb(68, 136, 136);
}

.formulario{
    display: flex;
    flex-flow: column;

    align-content: space-around;
    
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    transition: all3s;
}

textarea:focus{
    width: 500px;
    background-color: rgb(68, 136, 136);

}





@media only screen and (max-width:480px){
    

    .grilla_home{
        display: flex;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 30% 30% 30%;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        align-content:center;
        justify-content:center 
                                        
    
        
    }
    
    .card_home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .img_home{
        width: 90%;
        height: 85%;
        object-fit: cover;
        
    }
        
                   
        
    
    .grilla_peliculas{
        display: flex;
        align-content: space-around;
        justify-content: center;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 15% 15% 15% 15% 15%;
        grid-template-areas: "foto1 foto2"
                             "foto3 foto4"
                             "foto5 foto6"
                             "foto7 foto8"
                             "foto9 foto9";
        justify-content: space-evenly;
        align-content: space-around;
    
    }
    .grilla_juegos{
        display: flex;
        align-content: space-around;
        justify-content: center;
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-template-rows: 15% 15% 15% 15% 15% 15%;
        grid-template-areas: "foto1 foto2"
                             "foto3 foto4"
                             "foto5 foto6"
                             "foto7 foto8"
                             "foto9 foto10"
                             "foto11 foto12";
        justify-content: space-evenly;
        align-content: space-around;
    
    }
    
  
    .grilla_galeria{
        display: flex;
        align-content: space-around;
        justify-content: center;
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-template-rows: 15% 15% 15% 15% 15%;
        grid-template-areas: "foto1 foto2"
                             "foto3 foto4"
                             "foto5 foto6"
                             "foto7 foto8"
                             "foto9 foto9";
        justify-content: space-evenly;
        align-content: space-around;
    
    }
    
    

    .contacto{
        display: flex;
        flex-flow: wrap;
        gap: 1rem 1rem;
        justify-content: center;
        align-items: center;
        
    }
    
    .formulario{
        display: flex;
        flex-flow: column;
        gap: 1rem 1rem;
        align-content: space-around;
    }
    
}


@media only screen and (min-width:900px){

    .grilla_home{
        display: flex;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 30% 30% 30%;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        align-content:center;
        justify-content:center 
                                        
    
        
    }
    
    .card_home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .img_home{
        width: 85%;
        height: 80%;
        object-fit: cover;
        
    }

    


    .grilla_peliculas{
        display: flex;
        align-content: space-around;
        justify-content: center;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 30% 30% ;
        grid-template-areas: "foto1 foto2 foto3"
                             "foto4 foto5 foto6"
                             "foto7 foto8 foto9"
                             
        justify-content: space-evenly;
        align-content: space-around;
    
    }
    
    
    .contacto{
    display: flex;
    flex-flow: wrap;
    gap: 1rem 1rem;
    justify-content: center;
    align-items: center;
    
}

.formulario{
    display: flex;
    flex-flow: column;
    gap: 1rem 1rem;
    align-content: space-around;
}

    
    
    


}


footer{
    display: flex;
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    
}

h1{
    display: flex;
    justify-content: center;
    
}

figure{
    
    width: 300px;
    height: 400px;
}

.figure2{
    width: 200px;
    height: 300px;
}
































